<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="callSettersOnNulls" value="true"/>
        <setting name="cacheEnabled" value="true"/>
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="multipleResultSetsEnabled" value="true"/>
        <setting name="useColumnLabel" value="true"/>
        <setting name="useGeneratedKeys" value="true"/>
        <setting name="autoMappingBehavior" value="PARTIAL"/>
        <setting name="defaultExecutorType" value="SIMPLE"/>
        <setting name="defaultStatementTimeout" value="25"/>
        <setting name="safeRowBoundsEnabled" value="false"/>
        <!-- 开启驼峰映射 ，为自定义的SQL语句服务-->
        <!-- 设置启用数据库字段下划线映射到java对象的驼峰式命名属性，默认为false-->
        <!-- 即从经典数据库列名 A_COLUMN 到经典Java 属性名 aColumn 的类似映射 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="localCacheScope" value="SESSION"/>
        <setting name="jdbcTypeForNull" value="OTHER"/>
        <setting name="lazyLoadTriggerMethods" value="equals,clone,hashCode,toString"/>
        <setting name="logImpl" value="LOG4J2"/>
    </settings>
    <plugins>
        <plugin interceptor="common.dal.shard.ShardTableInterceptor">
            <!-- 测试期间用于打印分表分库的 sql 语句，默认为 false 即不打印 -->
            <property name="isPrintShardSqlInfo" value="true"/>
            <!-- 直接分表 -->
            <property name="shardTablesByKeyDirectly" value=""/>
            <!-- 主键除以 divideByValue 得到的值作为分表依据 -->
            <property name="shardTablesByKeyDivideBy" value=""/>
            <!-- 针对上面参数的除数 -->
            <property name="divideByValue" value="10"/>
            <!-- 默认数据源的 key -->
            <property name="defaultSchemaKey" value="system"/>
        </plugin>
    </plugins>
</configuration>